# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtualenv
.venv/
env/
venv/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Build / Next.js
.next/
out/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Arquivos locais
comentarios.json
osint.db

# Scripts particulares
*.sh
